<div class="row">
<ul class="list-group" id="fecha{{fecha}}">
    <li class="list-group-item">
        <h4>
        {{fecha}}
        </h4>
        <form class="d-inline float-right form-inline">
        <button id="delete{{idEncuesta}}{{fecha}}" type="button" class="btn btn-danger"><span class="fas fa-trash-alt"></span></button>
        </form>
    </li>
    <div id="horas{{fecha}}">

    </div>
</div>