<li class="list-group-item" id="hora{{idFecha}}{{horaInicio}}{{horaFin}}"> 
    {{horaInicio}}-{{horaFin}}
    <form id="delete{{idEncuesta}}{{idFecha}}{{horaInicio}}{{horaFin}}" class="d-inline float-right form-inline">
        <button type="submit" class="btn btn-danger btn-sm"><span class="fas fa-trash-alt"></span></button>
    </form>
</li>