<td id="{{formId}}">
	<form id="form{{formId}}">
		<input type="hidden" name="id" value="{{id}}">
		<input type="hidden" name="fecha" value="{{fecha}}">
		<input type="hidden" name="horaInicio" value="{{horaInicio}}">
		<input type="hidden" name="horaFin" value="{{horaFin}}">
		<button type="submit" class="btn btn-primary btn-sm"><span class="far fa-check-circle"></span></button>
	</form>
</td>